body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Poppins, sans-serif;
            font-size: 13.5px;
            background:
                linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
                url('https://images.unsplash.com/photo-1626806787461-102c1bfaaea1');
            background-size: cover;
            background-position: center;
        }
        .login-box {
            width: 380px;
            padding: 30px;
            border-radius: 18px;
            background: rgba(255, 255, 255, .15);
            backdrop-filter: blur(10px);
            color: white;
            box-shadow: 0 8px 24px rgba(0, 0, 0, .35);
        }
        .logo { font-size: 55px; text-align: center; }
        .btn-login { width: 100%; padding: 10px; border-radius: 10px; font-weight: bold; }
